<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Nico.Beer</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" id="css-theme" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--  <link rel="icon" href="/images/logo.png" type="image/x-icon" /> -->
  </head>
  <body>
    <%- include('partials/header'); %> 
    <div class="content">
        <%- include('partials/flash'); %>
        <%- include(body); %>
    </div>
    <!-- 
        <%- include('partials/footer'); %> 
      -->
  </body>
  <%- include('partials/localStorage'); %> 
</html>